<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @decade.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @decade.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @decade.image %>
</p>

<p>
  <strong>Song:</strong>
  <%= @decade.song %>
</p>

<%= link_to 'Edit', edit_decade_path(@decade) %> |
<%= link_to 'Back', decades_path %>
